@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor {
    font-weight: 100;
    font-size: 56px;
    color: rgb(59, 130, 246);
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 2rem));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll linear infinite;
}